%section.portfolio.span12.make-center.no-left-margin
  %h3.span2
    Portfolio
  .clear
  #myCarousel.carousel.slide.span12
    .carousel-inner
      .active.item
        %ul.thumbnails
          %li.span3
            .caption
              %h5
                Althea
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                Brandscope
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                Mphoria
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                JustBooks
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
      .item
        %ul.thumbnails
          %li.span3
            .caption
              %h5
                Foodshop
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                Brandscope
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                Mphoria
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
          %li.span3
            .caption
              %h5
                JustBooks
            .thumbnail
              = link_to(image_tag(asset_path("portfolio-bg.png")), "#", class: "portfolio-link")
  .clear