%section.text-content.span12.make-center
  %article.span7.make-center
    %h3.span12.make-center
      We care about our Craft and your Apps
    %p.span10.sub-text.make-center
      Lorem ipsum dolor sit amet, donec dapibus orci sit amet elit. Maecenas rutrum ultrices lectus.
  .clear
  = image_tag(asset_path("content-divider.png"), class: "span3 make-center")
  .clear
  = render partial: "home/functionalities"
  .clear
  = render partial: "home/portfolio"
  .clear
  = render partial: "home/team_and_hacks"
  .clear
  = render partial: "home/testimonials"
  .clear
  = render partial: "home/skill_links"